<!-- data context set to product-->

<template name="productCard">
	{{#let id = product._id}}
	<div class="col-sm-2">
	<div class="small">{{id}}</div>
		<div class="{{panelStyle product}}" style="margin-bottom:2pt; box-shadow: 5px 	5px 5px #000000;">
				<div class="panel-heading"><span class="{{labelStyle product}}" style="margin=2pt;">{{product.name}}</span></div>
				<div class="panel-body small" style="margin-bottom:2pt;white-space: normal;">
					{{product.comment}}
				</div>
		</div>
	</div>
	{{/let}}
</template>